body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    color: darkgrey;
    flex-direction: column;
}

.container {
    margin: 20px;
}

.nav-bar {
    width: 100%;
    position: sticky;
    background-color: white;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 30px;
    width: 46px;
    background-size: 47px;
    background-image: url('images/sofa-logo.png');
    margin: 20px;
}

.user-container {
    margin: 20px;
}